json("../../../node_modules/vue-rt-style-kit-atoms/src/variables.json")
json("../../../node_modules/vue-rt-style-kit-atoms/src/color.json")
json("../../../node_modules/vue-rt-style-kit-atoms/src/styleOptions.json")

@require "editor"
@require "online-editor/index"
