//.app
//  overflow: visible;
//.ld-key
//  background-color: #fff
////main-color003-no-opacity
//.color-block--main-color003-no-opacity
//  background-color: #F8F8F8
//
//.ld-key-slader-block
//  position: relative;
//  &:before
//    content ''
//    position: absolute;
//    height: 2px
//    bottom: 0
//    left:0
//    right: 0
//    background-color: white
//    z-index: 11
//  @media(min-width: 1024px)
//    overflow: hidden
//.ld-key-tabs-slider
//  @media(min-width: 1024px)
//    background-color: #F8F8F8
//    position: relative;
//    &:before
//      content ''
//      position absolute
//      width: 50vw
//      left: 0
//      top: -80px
//      background-color: #F8F8F8
//      bottom: -160px
//
//
//.color-block--main-color003-no-opacity .rt-jumbotron-gradient
//  background-image: -webkit-linear-gradient(right, #F8F8F800 0%, #F8F8F8 100%)
//  background-image: -moz-linear-gradient(right, rgba(231,231,233,0) 0%, #F8F8F8 100%)
//  background-image: -o-linear-gradient(right, rgba(231,231,233,0) 0%, #F8F8F8 100%)
//  background-image: -ms-linear-gradient(right, rgba(231,231,233,0) 0%, #F8F8F8 100%)
//  background-image: linear-gradient(to left, #F8F8F800 0%, #F8F8F8 100%)
//.land-key,
//.F
//  background-color: #fff!important
//  .app-header
//    display: none
//.ld-key-tabs-nav-stretch
//  align-items stretch
//  .ld-key-tabs-nav-item
//    height: 100%
//.ld-key-tabs-nav-item
//  cursor: pointer;
//  border 1px solid #E7E7E9
//  border-radius 8px
//
//  box-shadow 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
//  transition-timing-function ease-in-out
//  transition-duration .4s
//  transition-property box-shadow, background, color
//
//.ld-key-tabs-nav-item--active
//  background-color: #F4B941
//  box-shadow 0px 8px 16px -8px rgba(0, 0, 0, 0.25);
//  cursor: default;
//  color: #fff
//  &.ld-key-tabs-nav-item-puprle
//    background-color: #7700FF
//  &.ld-key-tabs-nav-item-dark
//    background-color: #273A64
//  &.ld-key-tabs-nav-item-gray
//    background-color: #7B939B
//  &.ld-key-tabs-nav-item-green
//    background-color: #5BCF6A
//  .ld-key-tabs-nav-icon
//    fill: #fff
//
//@media(hover: hover)
//  .ld-key-tabs-nav-item:hover
//    box-shadow 0px 8px 16px -8px rgba(0, 0, 0, 0.25);
//
//
//
//
//
//
//
//.ld-key-tabs-nav-icon
//  fill #101828
//  transition-timing-function ease-in-out
//  transition-duration .4s
//  transition-property fill
//  display: block
//
//.ld-key-tabs-content
//  position: relative;
//  @media(max-width: 767px)
//    overflow: hidden;
//    transition-timing-function ease-in-out
//    transition-duration .4s
//    transition-property min-height
//
//.td-d-block+.ld-key-tab-content
//  @media(max-width: 1024px)
//    overflow: hidden;
//    transition-timing-function ease-in-out
//    transition-duration .4s
//    transition-property max-height
//.ld-key-tabs-item
//  position: absolute;
//  top: 0
//  left: 0
//  right: 0
//  opacity 0
//  pointer-events none
//  transition-timing-function ease-in-out
//  transition-duration .4s
//  transition-property opacity
//.ld-key-tabs-item--active
//  opacity 1
//  pointer-events: all;
//  .ld-key-tabs-slider
//    pointer-events: all;
//    z-index: 10
//.ld-key-tabs-slider
//  pointer-events: none;
//  &:before
//    @media(max-width: 767px)
//      content attr(label)
//      font-weight: 500
//      font-size 18px
//      position: relative
//.ld-key-slider-text
//  height: 52px
//  @media(max-width: 1024px)
//    height: 66px
//
//.ld-key-tabs-slider-container
//  position: relative
//  height 610px
//  @media(max-width: 1024px) and (min-width: 768px)
//    height: 520px
//
//.ld-key-tabs-slider-item
//  position: absolute
//  top: 0
//  left: 0
//  right: 0
//  opacity: 0
//  pointer-events none
//  transition-timing-function ease-in-out
//  transition-duration .4s
//  transition-property opacity
//.ld-key-tabs-slider-item--active
//  opacity: 1
//  pointer-events all
//.ld-key-tabs-slider-item img
//  max-width 100%
//  max-height 554px
//.ld-key-tabs-paginator
//  position: relative;
//.ld-key-tabs-paginator-item
//  height: 8px
//  background: rgba(16, 24, 40, 0.1)
//  border-radius 10px
//  margin-left: 8px
//  margin-right: 8px
//  transition-timing-function ease-in-out
//  transition-duration .4s
//  transition-property background
//  &:hover
//    @media(hover: hover)
//      background-color: #7700FF
//
//.ld-key-tabs-paginator-item--active
//  background-color: #7700FF
//  cursor default
//
//.ld-key-tabs-slider-wrapper
//  width: 280px
//  max-width 100%
//  margin-left: auto
//  margin-right: auto
//  cursor pointer
//  max-width 100%
//
//.ld-key-tabs-arrows
//  position: absolute
//  left 0
//  right 0
//  top: 0
//  bottom: 0
//  height: 24px
//  margin-top: auto
//  margin-bottom: auto
//.ld-key-tabs-arrows-item
//  width: 24px
//  position absolute
//
//.ld-key-tabs-arrows-right
//  right: 2px
//.ld-key-tabs-arrows-left
//  left: 2px
//
//
//.ld-key-boolet
//  padding-left: 36px
//  position: relative;
//  &:before
//    content ''
//    position: absolute;
//    left: 0
//    background-image: url(https://rt-static.rt.ru/sites/default/files/img/rt-key/Ok%20Color.svg)
//    width: 24px
//    height: 24px
//
//.ld-key-gray
//  background-color: #F8F8F8
//.ld-key-card
//  background-color: #fff
//  padding 20px
//  border-radius 8px
//  border 1px solid #F3F3F4
//  .rt-img
//    max-width 100%
//
//#form .rtk-input
//  padding-top: 0
//  padding-bottom: 0
//
//.ld-key-tab-content
//  @media(max-width: 767px)
//    max-height 0
//    overflow: hidden;
//.td-d-block+.ld-key-tab-content
//  @media(max-width: 1024px)
//    max-height 0
//    overflow: hidden;
//
//.ld-key-tab-show-more-active
//  @media(max-width: 767px)
//    display: none
//
//.td-d-block+.ld-key-tab-content
//  @media(max-width: 1024px)
//    max-height 0
//.ld-key-tab-show-more.td-d-block.ld-key-tab-show-more-active
//  @media(max-width: 1024px)
//    display: none
//.ld-key-tab-show-more-active+.ld-key-tab-content
//  @media(max-width: 767px)
//    max-height 500vh
//
//.ld-key-tab-show-more-active+.ld-key-tab-content .ld-key-tab-content
//  display: block
//
//.td-d-block.ld-key-tab-show-more-active
//  @media(max-width: 1024px)
//    display: block
//.td-d-block.ld-key-tab-show-more-active+.ld-key-tab-content .ld-key-tab-show-less
//  @media(max-width: 1024px)
//    display: block
//.td-d-block.ld-key-tab-show-more-active+.ld-key-tab-content
//  @media(max-width: 1024px)
//    max-height 100vh
//    display: block
//  @media(max-width: 767px)
//    max-height 500vh
//
//.ld-key-tabs-col
//
//  padding-left: 0
//  padding-right: 8px
//  &+&
//    @media(max-width: 1024px)
//      padding-left: 8px
//  @media(min-width: 1025px)
//    webkit-flex: 0 0 16.6667%;
//    -ms-flex: 0 0 16.6667%;
//    flex: 0 0 16.6667%;
//    max-width: 16.6667%;
//    width: 100%;
//    padding-left: 10px;
//    padding-right: 10px;
//    position: relative;
//
//.ld-key-tabs-imgs
//  &:after
//
//    font-style: normal;
//    font-weight: normal;
//
//    text-align: left
//    display: block
//    margin-bottom: 20px
//
//    @media(max-width: 1024px)
//      content attr(label)
//      font-weight 500
//      font-size: 32px;
//      line-height: 40px;
//      margin-top: 40px
//
//    @media(max-width: 767px)
//      font-size: 24px;
//      line-height: 32px;
//      margin-top: 32px
//
//  .rt-img
//    max-width 100%
//.ld-key-tabs-imgs-go-top
//  @media(min-width: 1025px)
//    margin-top: -44px
//.ld-key-icon
//  @media(max-width: 767px)
//    width: 24px
//    height: 24px
//.land-key
//  .rt-tabs-navigation-wrapper
//    position: relative;
//    max-width 100%
//    margin-left: 0
//    width: 100%
//  .rt-tabs-tablet .rt-tabs-navigation
//    padding-left: 0
//
//    //#FF4F12;
// .rt-tabs-navigation-wrapper:after
//   content ''
//   position: absolute;
//   bottom  0px
//   height: 2px;
//   left: 0;
//   width: 100%;
//   background-color: #e3e8ec;
//
////.ld-key-card-link-text
////  padding-right: 20px
//
//.ld-key-logo
//  @media(max-width: 1024px)
//    width: 215px
//.ld-key-card-link-text
//  max-width: 0
//  overflow: hidden;
//  padding-left: 0
//  white-space nowrap
//  opacity 0
//  transition-timing-function ease-in-out
//  transition-duration .4s
//  transition-property max-width, opacity, color
//.ld-key-table-label
//  @media(min-width: 1024px)
//    min-height 64px
//.ld-key-card:hover
//  @media(min-width: 1024px)
//    .ld-key-card-link-text
//      max-width 200px
//      opacity 1
//      color: #FF4F12
//
//.rt-tabs-navigation__item--is-active .rt-tabs-navigation__item-name:before, .rt-tabs-navigation__item-name:focus:before, .rt-tabs-navigation__item-name:hover:before
//  border-bottom-color: #FF4F12
//#form .radio-button .radio-button-element:checked+.radio-button-container:before,
//#form .checkbox-element:checked+.checkbox-container:before,
//#form .radio-button:hover .radio-button-container:before
//  border-color: #FF4F12
//#form .dynamic__text.ready
//  color: #FF4F12
//#form .rt-link
//  color: #FF4F12
//#form .radio-button-container:before
//  top: 7px
//#form .radio-button-container:after
//  top 1px
//.change-region.group-inline-middle.color-primary:before
//  content: '';
//  width: 18px;
//  height: 18px;
//  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath fill='%23FF4F12' fill-rule='evenodd' d='M0 9h9v9h1l8-18L0 8z'%3E%3C/path%3E%3C/svg%3E");
//
//img.change-region__icon
//  display: none;
//.rt-tabs-mobile .rt-tabs-navigation
//  padding-left: 0
//.td-flex-j-end
//  @media(max-width: 1024px)
//    justify-content: flex-end
//
//.gray-border-top
//  border-top: 2px solid #F8F8F8