.antiv-card .rt-microtabs-nav__item-opacity,
.antiv-card .rt-microtabs-nav__item-tgl
  opacity: 0
.antiv-card .rt-microtabs-nav__item
  padding-top: 4px
  padding-bottom: 4px

.antiv-card .rt-microtabs-nav__item.is--active .rt-microtabs-nav__item-opacity
  opacity: 1
.slot-container__item>.sp-t-1-4 {
  padding-top: 12px
}
.test{
  height:getCalc(1783,520, 1024, 420)
}
