.ld-router
  background-color: #131010

  .app-header
    display: none

.ld-router-banner
  max-width 100vw
  position: relative;
  overflow: hidden;

.ld-router-banner__line1
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/lines-1.png)
  width: 641px;
  height: 587px;
  position: absolute;
  z-index 1
  top: 0
  left: 0
  background-size: cover;
  background-position: left top
  background-repeat: no-repeat

.ld-router-banner-content
  position: relative;
  z-index 3

.ld-router-banner__line2
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/lines-2.png)
  width: 1105px
  height: 726px
  max-width 50vw
  position: absolute;
  top: 0
  right: 0
  background-size: contain;
  background-position: right top
  background-repeat: no-repeat
  z-index 2
@media (max-width: 1740px) {
  .ld-router-banner__line1 {
    left: calc(50vw - 870px)
  }
  .ld-router-banner__line2{
    right calc(50vw - 870px)
  }
  //.ld-router-banner__blur{
  //  left: calc( 320px + 870px - 50vw)
  //}
}
@keyframes ShowRouter
  0%
    opacity: 0
    bottom: 730px
  100%
    opacity 1
    bottom: 76px


.ld-router-banner__router
  width: calc((77*100vw + 223762px) / 534)
  height:  calc((67*100vw + 201644px) / 534)
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/router.png)
  position: absolute;
  left: 0
  top: 0px
  background-size: contain;
  background-position: bottom center
  background-repeat:no-repeat
  max-width calc(100% - 40px)
  margin-left: 20px
  @media (max-width: 1024px) {
    height: 315px
  }
  @media (max-width: 768px) {
    height: 275px
    position: relative;
  }

//animation-name ShowRouter
//animation-duration 1s
//animation-timing-function ease-in-out


.ld-router-banner_icon
  width: 80px
  height: 80px

.ld-router-banner__shadow
  position: absolute;
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/shadow.png)
  width:  calc((78*100vw + 230940px) / 534)
  height: calc((6*100vw + 16368px) / 534)
  bottom: calc((6 * 100vw + 16368px) / 534 * -1);
  right: 0
  left: 0
  z-index 2
  background-size: contain;
  background-repeat:no-repeat
  background-position: center center
  max-width calc(100%)
  margin-left: 10px

.ld-router-banner__blur
  position: absolute;
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/background-main.png)
  width: calc((238*100vw + 538904px) / 534);
  height: calc((118*100vw + 267080px) / 534);
  right: calc((248*100vw - 649556px) / 534);

  background-size: cover;
  top: 0

.ld-router-spider
  height: 820px
  max-width 100vw
  overflow: hidden;

  &:before
    content ''
    height: 820px
    width: 1200px
    background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/background-2.png)
    background-size: cover;
    background-position: center
    background-repeat: no-repeat
    position: absolute;
    left: 0
    right: 0
    margin-left: auto
    margin-right: auto

.ld-router-spider-image
  position: absolute;
  width: 467px
  height: 413px
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/router-2.png)
  background-size: contain;
  background-position: center
  background-repeat: no-repeat
  left: 0
  right: 0
  margin-left auto
  margin-right: auto
  top: 92px
  max-width 100%

.ld-router-spider-line
  position: relative;
  height: 156px

  &:before
    content ''
    position: absolute;
    background-repeat: no-repeat
    background-size: contain;
    background-position: top center

.ld-router-spider-line-1:before
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/line1.png)
  right: -33%
  width: 28%;
  height: 46px;
  top 15px

.ld-router-spider-line-2:before
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/line2.png)
  right: -33%
  width: 27%;
  height: 12px;
  top 15px

.ld-router-spider-line-3:before
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/line3.png)
  right: -33%
  width: 28%
  height: 47px;
  top: -6px

.ld-router-spider-line-4:before
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/line4.png)
  left: -33%
  width: 27%;
  height: 34px;
  top 15px
  margin-top: auto
  margin-bottom: auto

.ld-router-spider-line-5:before
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/line5.png)
  left: -33%
  width: 25%;
  height: 12px;
  top 20px

.ld-router-spider-line-6:before
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/line6.png)
  left: -33%
  width: 28%
  height: 46px;
  top: -6px

.lg-router-cabel
  height: 668px
  overflow: hidden;

.lg-router-cabel-lines
  height: 668px

  width: 1512px
  top: -48px
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/linesBackground.png)
  background-size: cover;
  position: absolute;
  background-position: -83px 0;
  background-repeat no-repeat

.lg-router-cabel-image
  width: 660px;
  height: 145px;
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/cabel.png)
  background-size: cover;
  position: absolute;
  top: 0
  bottom: 0
  margin-top: auto
  margin-bottom: auto
  background-repeat no-repeat

.lg-router-cabel-gpon
  padding-top: 58px
  padding-left: 54px
  padding-right: 56px
  padding-bottom: 58px
  //background-image: linear-gradient(to right, rgb(255,94,45) 0%, rgba(255, 94, 45 ,0) 100%)
  //background: linear-gradient(90deg, #FF5E2D -0.02%, rgba(255, 94, 45, 0) 99.96%);
  position: relative;
  z-index 2

  &:after
    content ''
    position: absolute;
    z-index 1
    background: linear-gradient(90deg, #FF5E2D -0.02%, rgba(255, 94, 45, 0) 99.96%);
    top: 0
    bottom: 0
    right: 0
    left: 0

  &:before
    content ''
    position: absolute;
    z-index 3
    background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/G-pon.png)
    top: 0
    bottom: 0
    right: 0
    left: 0
    background-size: cover;

.lg-router-cabel-gpon-content
  position relative
  z-index 4

.lg-router-form
  position: relative;
  min-height 100vw

.lg-router-form:before
  content ''
  position: absolute;
  width: 50vw
  height: 35vw
  background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/formLines.png)
  right: 0
  top: 420px
  background-size: cover;

.lg-router-form-input
  display: none

.lg-router-form-check
  position: relative;
  border 1px solid #fff
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property border, box-shadow
  cursor: pointer;
  box-shadow: 0px 0px 0px #F30303;

  &:before
    content ''
    position: absolute;
    width: 0
    height: 0
    background-size: cover;
    background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/form-circle.png)
    top: 0
    left: 0
    opacity: 0

  &:after
    content ''
    position: absolute;
    width: 45px;
    height: 31px;
    background-size: cover;
    background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/form-line3.png)
    bottom: -7px
    right: -7px
    opacity: 0

.lg-router-form-input:checked + .lg-router-form-check
  cursor: default;

.lg-router-form-check:hover
  border 1px solid #FF5E2D

  .lg-router-form-label
    color #FF5E2D

.lg-router-form-check-decor
  position: absolute;
  top: 0
  bottom: 0
  left: 0
  right: 0
  opacity: 0

  &:before
    content ''
    position: absolute;
    width: 38px
    height: 13px;
    background-size: cover;
    background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/form-line1.png)
    top: -7px
    right: 5px

  &:after
    content ''
    position: absolute;
    width: 13px
    height: 77px;
    background-size: cover;
    background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/form-line2.png)
    top: 0px
    bottom 0
    margin-top auto
    margin-bottom: auto
    right: -7px

.lg-router-form-check-decor2
  position: absolute;
  top: 0
  bottom: 0
  left: 0
  right: 0
  opacity: 0

  &:before
    content ''
    position: absolute;
    width: 174px
    height: 13px;
    background-size: cover;
    background-image: url(https://static-cdn.rt.ru/sites/default/files/img/router-huawei/form-line4.png)
    bottom: -7px
    left: 50px

.lg-router-form-label
  position: absolute;
  top: -10px
  left: 28px
  display: inline-block
  padding-left: 12px
  padding-right: 12px
  background-color: #131010
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property background-color, color


.lg-router-form-input + .lg-router-form-check:before,
.lg-router-form-input + .lg-router-form-check:after,
.lg-router-form-input + .lg-router-form-check .lg-router-form-check-decor2,
.lg-router-form-input + .lg-router-form-check .lg-router-form-check-decor,
.lg-router-form-input + .lg-router-form-check .lg-router-form-check-decor2:before,
.lg-router-form-input + .lg-router-form-check .lg-router-form-check-decor2:after,
.lg-router-form-input + .lg-router-form-check .lg-router-form-check-decor:before,
.lg-router-form-input + .lg-router-form-check .lg-router-form-check-decor:after
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property opacity, width, height, top, left, right, bottom

.lg-router-form-input:checked + .lg-router-form-check
  border 1px solid #FF5E2D
  box-shadow: 0px 0px 6px #F30303;

  .lg-router-form-label
    color #FF5E2D

.lg-router-form-input:checked + .lg-router-form-check:before
  width 64px
  height 64px
  left: -32px
  top: -32px

.lg-router-form-input:checked + .lg-router-form-check:before,
.lg-router-form-input:checked + .lg-router-form-check:after,
.lg-router-form-input:checked + .lg-router-form-check .lg-router-form-check-decor2,
.lg-router-form-input:checked + .lg-router-form-check .lg-router-form-check-decor
  opacity: 1

.lg-router-form-input:checked + .lg-router-form-check .lg-router-form-check-decor:before
  top: -13px

.lg-router-form-input:checked + .lg-router-form-check .lg-router-form-check-decor:after
  right: -13px

.lg-router-form-input:checked + .lg-router-form-check:after
  bottom: -12px
  right: -12px

.lg-router-form-input:checked + .lg-router-form-check .lg-router-form-check-decor2:before
  bottom: -13px;