.blog
  padding-top 50px
  @media(max-width tablet-upper-limit)
    overflow hidden
  &__header
    padding 12px 0 10px
    display flex
    align-items flex-end
    justify-content space-between
    @media(max-width tablet-upper-limit)
      padding 16px 0
    &-left
      display flex
      align-items flex-end
    &-wrapper
      box-shadow 0 0 4px main-color01
      position relative
      z-index 4
  &-footnote
    text-transform uppercase
    letter-spacing 2px
  &__tags-wrapper
    padding 20px 8px
    border-bottom 1px solid main-color007-no-opacity
    @media(max-width tablet-upper-limit)
      padding 20px 0
    &__inner
      overflow auto
      -ms-overflow-style none
      scrollbar-width none
      &::-webkit-scrollbar
        display none
      @media(max-width tablet-upper-limit)
        margin 0 -20px
        padding-left 28px
        .blog__page-wrapper &
          padding-left 20px
    &-stretcher
      @media(max-width tablet-upper-limit)
        min-width 28px
    &--no-scroll
      border none
      padding 8px 0
      .blog__tag
        margin-right 28px
        margin-top 12px
        &+.blog__tag
          margin-left 0!important
  &__tag
    cursor pointer
    transition color.2s linear
    word-break keep-all
    font-size 16px
    line-height 20px
    font-weight 500
    @media(max-width mobile-upper-limit)
      font-size 14px
      line-height 16px
    &+&
      margin-left 28px
    &:hover,
    &--active
      color b2c-red
  &__weekly-theme
    min-height 438px
    &-wrapper
      position relative
      display block
      &:after
        position absolute
        content ''
        top 0
        left 0
        right 0
        bottom 0
        background linear-gradient(to bottom, rgba(10, 13, 29, 0) 46.29%, rgba(10, 13, 29, 0.478766) 65.43%, #0A0D1D 100%)
        @media(max-width mobile-upper-limit)
          display none
    &__image
      position relative
      display block
      object-fit cover
      width 100%
    &__description
      margin-bottom 8px
    &__label
      display inline-block
      position absolute
      top 0
      left 0
      z-index 2
    &__bottom
      position absolute
      bottom 28px
      left 28px
      z-index 2
      @media(max-width mobile-upper-limit)
        position relative
        bottom auto
        left auto
    &__title
      min-height 64px
      font-size 24px
      line-height 32px
      @media(max-width mobile-upper-limit)
        font-size 16px
        line-height 20px
        min-height none
    &__ttr
      .rt-sys-icon
        //fill b2c-white07
        @media(max-width mobile-upper-limit)
          fill main-color05
  &__popular
    @media(max-width tablet-upper-limit)
      border-bottom 1px solid main-color007-no-opacity
    &__item-title
      font-size 16px
      line-height 20px
      font-weight 500
      transition color .2s linear
      &:hover
        color b2c-red
  &__article-tile
    &:nth-child(n+4)
      margin-top 60px
      @media(max-width tablet-upper-limit)
        margin-top 0
    .rt-col-4
      &:not(:nth-child(3n + 1))
        border-left 1px solid main-color007-no-opacity
        @media(max-width tablet-upper-limit)
          border-left none
      &:not(:first-child)
        @media(max-width tablet-upper-limit)
          .blog__article-tile__item
            border-top 1px solid main-color007-no-opacity
    &__image
      min-height 207px
      object-fit cover
      width 100%
      &-wrapper
        display flex
        position relative
  &__promo-block
    border-right 1px solid main-color007-no-opacity
    @media(max-width tablet-upper-limit)
      border none
    .row
      height 100%
    .rt-col-12
      &+&
        flex-grow 2
  &__link-button
    text-align center
    font-weight 500
    font-size 14px
    line-height 16px
    border 1px solid main-color007-no-opacity
    border-radius 0
  &__hint-carousel
    height 100%
    position relative
    &-wrapper
      position relative
      min-height 100%
    &__item
      background-color b2c-gray
      position absolute
      z-index -1
      opacity .3
      transform translateY(-17px) scale(0.9)
      transition all .3s linear
      top 0
      height auto
      &--active
        transform translateY(15px)
        z-index 1
        opacity 1
        position relative
      &--hidden
        opacity 0
    &__refresh
      background-color b2c-white
      border 2px solid main-color007-no-opacity
      cursor pointer
      position absolute
      left 50%
      transform translateX(-50%)
      bottom 36px
      z-index 2
      border-radius 0
      @media(max-width tablet-upper-limit)
        bottom 40px
      @media(max-width mobile-upper-limit)
        bottom 32px
  &__add-article-button
    border 1px solid main-color007-no-opacity
    font-size 14px
    line-height 16px
    border-radius 0
    .ripple
      padding 0 42px
  &__manual
    &__item
      display block
      flex-basis 20%
      width 20%
      flex-grow 2
      box-sizing content-box
      @media(max-width mobile-upper-limit)
        flex-basis 100%
      &+.blog__manual__item
        border-left 1px solid main-color007-no-opacity
        @media(max-width mobile-upper-limit)
          border none
    .color-block--main-color003-no-opacity
      @media(max-width tablet-upper-limit)
        background-color transparent
    &-wrapper
      @media(max-width tablet-upper-limit)
        background-color #F8F8F8
    .rt-sys-icon
      @media(max-width tablet-upper-limit) and (min-width tablet-lower-limit)
        fill main-color05
    &-link
      font-size 16px
      line-height 20px
      font-weight 500
      display block
      transition color .2s linear
      &:hover
        color b2c-red
  &__frame
    min-height 320px
  &-article__image
    &-body
      width 100%
      display block
  &__carousel
    overflow hidden
    position relative
    &__slide
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 1
      opacity 0
      transition transform .3s linear
      //@media (max-width: tablet-upper-limit)
      position relative
      flex-basis 100%
      min-width 100%
      top auto
      left auto
      right auto
      bottom auto
      transform none
      opacity 1
      scroll-snap-align start
      //&--next
      //  transform translateX(100%)
      //  z-index 2
      //  opacity 1
      //&--previous
      //  transform translateX(-100%)
      //  z-index 2
      //  opacity 1
      //&--hidden
      //  opacity 0
      //  z-index -2
      &--active
        position relative
        z-index 3
        opacity 1
        transform translateX(0)
      //&--next,
      //&--previous,
      //&--hidden,
      //&--active
      //  @media (max-width: tablet-upper-limit)
      //    transform none
      //    z-index 1
      //    opacity 1
      &-body
        width 100%
        height 100%
        display block
        object-fit cover
    &__text
      position absolute
      opacity 0
      top 0
      right 0
      left 0
      transition opacity .3s linear
      &--active
        position relative
        opacity 1
    &__navigation
      position absolute
      top 50%
      transform translateY(-50%)
      width 100%
      justify-content space-between
      z-index 4
      display none
      pointer-events none
      &-arrow
        cursor pointer
        padding 20px
        pointer-events all
      .blog__carousel:hover &
        display flex
        @media (max-width: tablet-upper-limit)
          display none
  &__video
    &-block
      width 100%
      cursor pointer
      display block
      &-wrapper
        position relative
        display flex
        @media(max-width mobile-upper-limit)
          display block
        &:after
          position absolute
          content ''
          top 0
          left 0
          right 0
          bottom 40px
          background-color main-color005
          pointer-events none
          z-index 1
          @media(max-width mobile-upper-limit)
            bottom 24px
        &--no-shadow
          &:after
            display none
    &-play-button
      position absolute
      top calc(50% - 20px)
      left 50%
      transform translateX(-50%) translateY(-50%)
      width 36px
      height 48px
      pointer-events none
      transition opacity .2s linear
      z-index 3
      &--hidden
        opacity 0
    &-title
      position absolute
      bottom 72px
      left 32px
      max-width calc(100% - 64px)
      transition opacity .2s linear
      z-index 3
      font-size 22px
      line-height 28px
      @media(max-width tablet-upper-limit)
        bottom 64px
        font-size 20px
        line-height 24px
      @media(max-width mobile-upper-limit)
        position relative
        left auto
        bottom auto
        display block
        max-width none
        font-size 14px
        line-height 16px
      &--hidden
        opacity 0
        pointer-events none
        @media(max-width mobile-upper-limit)
          opacity 1
          background-color main-color02
    &-poster
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      object-fit cover
      z-index 2
      max-width 100%
      &--hidden
        opacity 0
        pointer-events none
  &__table
    margin-bottom 40px
    @media(max-width tablet-upper-limit)
      margin-bottom 32px
    @media(max-width mobile-upper-limit)
      margin-bottom 24px
    &-title
      text-transform uppercase
      padding 16px 20px
      background-color main-color003
      border-bottom 4px solid b2c-white
      @media(max-width mobile-upper-limit)
        padding 8px
    th,
    td
      background-color main-color003
      border 4px solid b2c-white
      padding 16px 8px
      @media(max-width mobile-upper-limit)
        border-width 2px
        padding 8px 4px!important
      &:first-child
        border-left none
        padding-left 20px
      &:last-child
        border-right none
    td
      font-size 14px
      line-height 20px
      @media(max-width mobile-upper-limit)
        font-size 12px
        line-height 16px
    th,
    td:first-child
      font-size 14px
      line-height 16px
      font-weight 500
      @media(max-width mobile-upper-limit)
        font-size 12px
  &__share__icon
    filter brightness(0)
    opacity .7
    transition all .1s linear
    display inline-flex
    &:hover
      filter brightness(1)
      opacity 1
    &+&
      margin-left 16px
  &__form
    position relative
    &-pseudo-background
      position absolute
      top 0
      bottom 0
      width 100vw
      z-index 0
    &-body
      position relative
      z-index 1
    .rt-button
      @media(max-width mobile-upper-limit)
        min-width 100%
  &-footer
    &__top
      border-bottom 1px solid main-color01
    &__privacy
      font-size 14px
      line-height 20px
    &-link
      transition color .2s linear
      color main-color
      &:hover
        color b2c-red
  &-breadcrumbs,
  .back-link
    &:hover
      color b2c-red

.blog__title
  .select-v2
    max-width 140px
    @media(max-width mobile-upper-limit)
      max-width 120px
  .select-v2__inner
    border none
    align-items center
    position relative
    cursor pointer
    &:after
      position absolute
      content ''
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 10L17 10L12.5512 14.7559C12.2468 15.0814 11.7532 15.0814 11.4488 14.7559L7 10Z' fill='%23101828'/%3E%3C/svg%3E%0A");
      width 24px
      height 24px
      background-repeat no-repeat
      top 50%
      transform translateY(-50%)
      right 0
      background-color transparent
      bottom auto
      left auto
      transition transform .2s linear
  .select-v2__container:after,
  .select-v2-arrow,
  .select-v2:hover .select-v2__inner:before
    display none
  .select-v2-value
    padding-top 0
    padding-left 20px
    margin-bottom 0
    &:hover
      color b2c-red
    @media(max-width mobile-upper-limit)
      padding-left 0
  .select-v2-option--select
    transition color .1s linear
    color main-color
  .select-v2-option.select-v2-option--focus
    transition color .1s linear
    background-color transparent
    color b2c-red
  .select-v2-value,
  .select-v2-option .rt-font-control
    font-size 16px
    line-height 20px
  .select-v2-list
    padding-left 12px
    @media(max-width mobile-upper-limit)
      width calc(100% + 20px)
      left -20px
  .select-v2-list-inner
    padding-top 10px
    padding-bottom 10px
  .select-v2--is-open
    .select-v2__inner:after
      transform translateY(-50%) rotate(-180deg)
    .select-v2-value
      color b2c-red

.rt-col-12
  &+&
    .blog__popular__item
      border-top 1px solid main-color007-no-opacity
      @media(max-width tablet-upper-limit) and (min-width tablet-lower-limit)
        border none
    @media(max-width tablet-upper-limit) and (min-width tablet-lower-limit)
      &:nth-child(n+3)
        .blog__popular__item
          border-top 1px solid main-color007-no-opacity

.sticky-block
  position sticky
  top 110px
  .blog__popular
    border-bottom none

.navigation
  display flex
  align-items center
  font-size 14px
  line-height 16px
  color main-color07
  @media(max-width tablet-upper-limit)
    display none
  &-link
    white-space nowrap
    word-break keep-all
    transition color .2s linear
    &:hover
      color b2c-red
    &+&
      margin-left 20px
      @media(max-width tablet-upper-limit)
        display block
        margin-left 0
        margin-top 20px
    .blog-footer &+&
      @media(max-width tablet-upper-limit)
        margin-left 16px
        margin-top 0
      @media (max-width: mobile-upper-limit)
        margin-left 0
        margin-top 16px
    &-wrapper
      position relative
      margin-left 20px
      &__inner
        position absolute
        height 0
        top calc(100% + 12px)
        left 50%
        transform translateX(-50%)
        overflow hidden
        box-shadow 0 0 5px 0 rgba(main-color, .2)
        z-index 9
        .navigation-link
          display block
          &+.navigation-link
            margin-left 0
            margin-top 20px
      &__button
        position relative
        cursor pointer
        &:after
          position absolute
          content ''
          width 8px
          height 4px
          transition transform .2s linear
          top calc((100% - 4px) / 2)
          right 0
          background-image url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.5L4.5 4L8 0.5' stroke='%23101828' stroke-opacity='0.7'/%3E%3C/svg%3E%0A")
        &--active
          &:after
            transform rotate(-180deg)
          &+.navigation-link-wrapper__inner
            height auto
            padding 12px
            background-color b2c-white
  &-mobile
    position relative
    &__list
      position absolute
      top calc(100% + 10px)
      right -20px
      overflow hidden
      background-color b2c-white
      transform translateX(100%)
      transition transform .2s linear
      z-index 3
      width 50vw
      height 100vh
      box-shadow -8px 0 8px -8px rgba(main-color, .2)
      @media(max-width mobile-upper-limit)
        width 100vw
    &__button
      width 20px
      height 1px
      background-color main-color
      position relative
      transition all .2s linear
      &:before,
      &:after
        position absolute
        content ''
        width 100%
        height 1px
        background-color main-color
        left 0
        right 0
        transition all .2s linear
      &:before
        top -6px
      &:after
        bottom -6px
      &-wrapper
        padding 6px 0
        margin-bottom 4px
        &--active
          &+.navigation-mobile__list
            transform translateX(0)
          .navigation-mobile__button
            transform rotate(-135deg)
            &:before
              transform rotate(-90deg)
              top 0
            &:after
              transform rotate(90deg)
              bottom 0

.blog__quote
  span
    padding 0
    left 0
    position relative
    box-shadow 16px 0 0 main-color005, -16px 0 0 main-color005
    @media (max-width mobile-upper-limit)
      padding 1px 0

.blog-sticky-stretcher
  min-height 100vh

.carousel-slides-wrapper
  height calc(((1136px - 11 * 40px) / 12 * 7 + (40px * 6)) * 0.62)
  flex-direction row
  display flex
  overflow auto
  scroll-snap-type x mandatory
  pointer-events none
  @media (max-width tablet-upper-limit)
    pointer-events auto
    height calc((83.333vw - 40px) * .62)
  @media (max-width mobile-upper-limit)
    height calc((100vw - 40px) * .62)
  &::-webkit-scrollbar
    display none

.carousel-texts-wrapper
  position relative

.blog-container
  width 100%
  max-width 1176px
  margin-left auto
  margin-right auto
  //padding-left horizontal-space * 4.75
  //padding-right horizontal-space * 4.75
  @media (max-width: tablet-upper-limit)
    padding 0// 20px
  //@media (max-width: desktop-lower-limit)
  //  padding-left horizontal-space * .5
  //  padding-right horizontal-space * .5
  //@media (max-width: mobile-upper-limit)
  //  padding-left horizontal-space * .5
  //  padding-right horizontal-space * .5
  //@media(min-width laptop-lower-limit)
  .row
    margin 0 -20px

  .rt-col
    padding-left 20px
    padding-right 20px

  for $num in (1..12)
    .rt-col-{$num}
      padding-left 20px
      padding-right 20px
