.image-block-wrap
  overflow: hidden;
  width: 100%
  max-width 100%
  position: relative;
  height: 300px
  @media (max-width: tablet-upper-limit)
    height: 200px
  @media (max-width: mobile-upper-limit)
    height: 120px

.image-block
  width: 300px
  height: 300px
  min-width 300px
  margin-left: 10px
  margin-right: 10px
  @media (max-width: tablet-upper-limit)
    width: 200px
    height: 200px
    min-width 200px
  @media (max-width: mobile-upper-limit)
    width: 120px
    height: 120px
    min-width 120px
    margin-left: 6px
    margin-right: 6px

.image-block-image
  width: 100%
  height: 100%
  display: block
  object-fit cover
.image-block-line
  display: flex
  flex-wrap nowrap
  position: absolute;
  top: 0
  left: -10px
  right: -10px
  transform  translateX(-300px)
  animation-timing-function linear
  @media (max-width: tablet-upper-limit)
    transform  translateX(-200px)
  @media (max-width: mobile-upper-limit)
    transform  translateX(-120px)
    left: -6px
    right: -6px
.image-block-pseudo
  width: 300px
  height: 300px
  animation-timing-function linear
  @media (max-width: tablet-upper-limit)
    width: 200px
    height: 200px
  @media (max-width: mobile-upper-limit)
    width: 120px
    height: 120px
  .image-block-line-invert &
    width: 0

.image-block-anim
  animation-name stepLine
  animation-duration inherit
  animation-duration 5s
  @media (max-width: tablet-upper-limit)
    animation-name stepLineTd
  @media (max-width: mobile-upper-limit)
    animation-name stepLineMd
  .image-block-pseudo
    animation-name stepPseudo
    @media (max-width: tablet-upper-limit)
      animation-name stepPseudoTd
    @media (max-width: mobile-upper-limit)
      animation-name stepPseudoMd
  &.image-block-line-invert
    animation-name stepLineInv
    @media (max-width: tablet-upper-limit)
      animation-name stepLineInvTd
    @media (max-width: mobile-upper-limit)
      animation-name stepLineInvMd
    .image-block-pseudo
      animation-name stepPseudoInv
      @media (max-width: tablet-upper-limit)
        animation-name stepPseudoInvTd
      @media (max-width: mobile-upper-limit)
        animation-name stepPseudoInvMd

  //.image-block-pseudo
  //  animation-name stepPseudo
  //  animation-duration inherit
  //  animation-duration 1s

@keyframes stepLine
  0%
    transform  translateX(-300px)
  100%
    transform  translateX(-620px)
@keyframes stepLineTd
  0%
    transform  translateX(-200px)
  100%
    transform  translateX(-420px)
@keyframes stepLineMd
  0%
    transform  translateX(-120px)
  100%
    transform  translateX(-252px)

@keyframes stepLineInv
  0%
    transform  translateX(-300px)
  100%
    transform  translateX(20px)
@keyframes stepLineInvTd
  0%
    transform  translateX(-200px)
  100%
    transform  translateX(20px)
@keyframes stepLineInvMd
  0%
    transform  translateX(-120px)
  100%
    transform  translateX(12px)

@keyframes stepPseudo
  0%
    width  300px
  100%
    width: 0

@keyframes stepPseudoInv
  0%
    width  0px
  100%
    width: 300px

@keyframes stepPseudoTd
  0%
    width  200px
  100%
    width: 0

@keyframes stepPseudoMd
  0%
    width  120px
  100%
    width: 0

@keyframes stepPseudoInvTd
  0%
    width  0px
  100%
    width: 200px

@keyframes stepPseudoInvMd
  0%
    width  0px
  100%
    width: 120px

