.big-number
  font-size 72px
  @media(max-width: 1024px)
    font-size 60px
    line-height: 60px
  @media(max-width: 768px)
    font-size 48px
    line-height: 48px;
.tabs-slider-reverse
  text-align center
  .tab-slider__img
    padding-left: 0
  .tab-slider__body
    text-align left

  .tab-slider__header-item
    margin-bottom: 0
    border-radius 0
    position: relative;
    z-index 2
    background-color: rgba(16,24,40,0.05)
    margin-left: 0
    margin-right: 0
    height: 48px
    &:before
      content ''
      position absolute
      left: 2px
      right: 2px
      top: 2px
      bottom: 2px
      border-radius 24px
    &:first-child
      border-radius 24px 0 0 24px
    &:last-child
      border-radius 0 24px 24px 0
  .tab-slider__header-text
    position relative
    z-index 2
  .tab-slider__header-item--active
    color rgba(16,24,40,1)
    &:before
      background-color: white;
      box-shadow: 0px 0px 1px rgba(28, 41, 61, 0.2), 0px 2px 4px rgba(28, 41, 61, 0.12);
  .tab-slider__header
    display: inline-flex
    padding 2px
    flex-wrap nowrap
    padding-bottom: 10px
    position relative
    width: 100%;
    right: 0;
    justify-content center
    left: 0
    max-width: calc(100vw - 0px);
    @media(max-width: 1200px)
      justify-content flex-start
    @media(max-width: 1024px)
      justify-content flex-start
      display flex
    @media(max-width: 768px)
      margin-left: -10px
      margin-right: -10px
      width:calc(100% + 20px)
  .tab-slider__timer
    display: none!important
  .row.row-td-reverse
    flex-direction: row-reverse
.font-video
  font-size 24px
  line-height 36px
  @media(max-width: 1024px)
    font-size 20px
    line-height 32px
  @media(max-width: 768px)
    font-size 18px
    line-height 28px
.font-video2
  font-size 24px
  line-height 36px
  @media(max-width: 1024px)
    font-size 20px
    line-height 32px
  @media(max-width: 768px)
    font-size 16px
    line-height 24px
.prize-card-1
  overflow hidden
  .rt-img
    width: 130px
.prize-card-2
  overflow hidden
  .rt-img
    width: 207px
.prize-img
  .rt-img
    width: 479px
    @media(max-width: 1024px)
      width: 50vw
  position: absolute
  bottom: 0
  right: 0
.sos-img
  position: absolute
  margin-right getCalc(1900,100, 768, 60)
  right: 0
  bottom: 0
  .rt-img
    width: 309px
  @media(max-width: 768px)

    .rt-img
      width: 216px
    margin-left auto
    margin-right auto
    position relative

.video-pattern
  position: absolute;
  top: 0
  left: 0
  width: 91%
  .rt-img
    width: 100%
@media(max-width: 768px)
  .md-color-block-white
      background-color: #fff
  .md-color-block--main-color005
    background-color: main-color005
  .md-round-border
    border-radius 8px
  .md-ovh
    overflow: hidden;
.video-mobile
  position: relative;
  left: 0
  right: 0
  margin-left auto
  margin-right auto
  width (181/524*100)%
  z-index: 2
  .rt-img
    width: 100%

.video-device
  width: 100%
  max-width 484px
  .rt-img
    width: 100%

.tabs-slider-new
  .tab-slider__body
    text-align left

  .tab-slider__header-item
    margin-bottom: 0
    border-radius 0
    position: relative;
    z-index 2
    background-color: rgba(16,24,40,0.05)
    margin-left: 0
    margin-right: 0
    height: 48px
    &:before
      content ''
      position absolute
      left: 2px
      right: 2px
      top: 2px
      bottom: 2px
      border-radius 24px
    &:first-child
      border-radius 24px 0 0 24px
    &:last-child
      border-radius 0 24px 24px 0
  .tab-slider__header-text
    position relative
    z-index 2
  .tab-slider__header-item--active
    color rgba(16,24,40,1)
    &:before
      background-color: white;
      box-shadow: 0px 0px 1px rgba(28, 41, 61, 0.2), 0px 2px 4px rgba(28, 41, 61, 0.12);
  .tab-slider__header
    display: inline-flex
    padding 2px
    flex-wrap nowrap
    padding-bottom: 10px
    position relative
    width: 100%;
    right: 0;
    left: 0
    max-width: calc(100vw - 0px);
    @media(max-width: 1024px)
      display flex
    @media(max-width: 768px)
      margin-left: -10px
      margin-right: -10px
      width:calc(100% + 20px)
  .tab-slider__timer
    display: none!important

.video-slider
  .carousel-card--previous
    transform: translateX(-10%) scale(0.9);
    opacity: 1
    z-index 2
    @media (max-width 1024px)
      transform: translateX(-7.1%) scale(0.9);
    @media (max-width 768px)
      transform: translateX(-7%) scale(0.9);
  .carousel-card--next
    transform: translateX(10%) scale(0.9);
    opacity: 1
    z-index 2
    @media (max-width 1024px)
      transform: translateX(7.1%) scale(0.9);
    @media (max-width 768px)
      transform: translateX(7%) scale(0.9);
  .carousel-card--previous-via-one
    transform: translateX(-20%) scale(0.8);
    opacity: 1
    z-index 1
    @media (max-width 1024px)
      transform: translateX(-14%) scale(0.8);
    @media (max-width 768px)
      transform: translateX(-13%) scale(0.8);
  .rt-card__content
    padding: 0
    height: 100%

  .carousel-card--next-via-one
    transform: translateX(20%) scale(0.8);
    opacity: 1
    z-index 1
    @media (max-width 1024px)
      transform: translateX(14%) scale(0.8);
    @media (max-width 768px)
      transform: translateX(13%) scale(0.8);
  .custom-carousel
    padding-top: 0
    padding-bottom: 0
    height: 384px
    padding-left: getCalc(1777,523, 1481, 405)
    @media (max-width 1450px)
      padding-left: getCalc(1198,309, 1127, 292)
    @media (max-width 1024px)
      height: 384px
      padding-left: getCalc(889,165, 960, 174)
    @media (max-width 768px)
      height: 344px
      padding-left: 24px;
      padding-right: 12px;
  .rt-card__body
    padding-left: 0
    padding-right: 0
  .carousel-card
    width: getCalc(1710,710, 1455, 637)
    height: 384px
    padding: 0!important
    @media (max-width 1450px)
      width: getCalc(1400,642.5, 1135, 538)
    @media (max-width 1024px)
      width: getCalc(964,609, 889, 559)
      height: 360px
    @media (max-width 768px)
      height: 324px
      width: 100%
      max-width: calc(100% - 62px)
      position: absolute;
    &:before
      content ''
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      opacity: 1
      background-color: main-color01-no-opacity
      z-index 5
      transition-timing-function ease-in-out
      transition-duration 0.2s
      transition-property  opacity
  .carousel-card+.carousel-card
    margin-left: 0!important


  .carousel-card--active
    z-index 10
    &:before
      opacity: 0
      pointer-events none
  .carousel-card--previous-via-one,
  .carousel-card--next-via-one
    &:before
      background-color: main-color005-no-opacity
.carousel-card--to-right-bottom
  position: absolute;
  bottom: 0
  right: 0
.video-slider-index
  position: absolute;
  right: 40px
  top: 40px