//use("./getCalc.js")
//@require "~nib/lib/nib/reset.styl"
//
//
////global-reset()
//*
//  box-sizing border-box
//
//a
//  text-decoration none
//
//body
//  word-break break-word
//
//ol
//  list-style decimal
//
//select,
//button,
//input,
//textarea
//  font-size inherit
//
//button
//  color inherit
//  background-color transparent
//  border-width 0
//  outline none
//  padding 0
//
////getCalc(x1, y1,x2 , y2)
////  deltax = x2 - x1
////  deltay = y2 - y1
////  a = deltax
////  b = deltay
////  c = deltax * y1 - deltay * x1
////  res = 'calc(('+unit(b,'px') +'* 100vw'
////  if c > 0
////    res = res+'+'
////    //return calc(var((unit(b,'px') * 100vw - unit(c,'px'))/unit(b,'px')))
////  else
////    res = res+'-'
////  res = res + unit(c,'px')
////  res = res+')/'+unit(b,'px')+')'
////  p(123)
////  return parseString(res)

//@require "../../atoms/css/vue-rt-style-atoms.styl"
@require "../../molecules/css/vue-rt-style-kit-molecules.styl"

@require "../../develover-lib/css/vue-rt-style-develop"
@require "app"
@require "./dev-temp.styl"
@require "./cloud-game.styl"
@require "./game.styl"
@require "font-face"

//
///*
//-554y=-158x 113892
//height: calc((178 * 100vw +82604px)/554)*/
